[2019-11-26 04:21] raveeshbhalla opened #1 "Shortcut for creating new note"
Create a new note via a shortcut for faster note taking

[2019-12-09 01:39] saket opened #3 "Setup Github Actions for running tests on all platforms"
https://github.com/saket/Press/pull/5 brought CI builds for tests that run on the JVM. It'll be great if other platforms (currently iOS) could also be included.

[2019-12-09 09:06] Navneet7k opened #4 "Huawei device with Android 9 throws java.lang.NoSuchFieldException while calling reflect()"
[code]
This produces the following exception :

java.lang.NoSuchFieldException: No field mSelectHandleCenter in class Lhuawei/com/android/internal/widget/HwEditor; (declaration of 'huawei.com.android.internal.widget.HwEditor' appears in /system/framework/hwEmui.jar)

[2019-12-09 13:40] saket commented on #4
Oh wow! Did not expect OEMs to modify the Editor class, but then relying on reflection wasn't supposed to be foolproof. It might be a better idea to set `android:colorControlActivated` from a xml theme and intercept the color at runtime.

[2019-12-09 13:41] saket commented on #4
Wanna send a PR with a fix @Navneet7k, along the lines of how the cursor color is overridden?

[2019-12-10 00:05] arkivanov opened #7 "Possible freezing for Native"
Hey, I just wanted to bring your attention to the possible freezes (and crashes) when you will be implementing iOS.

E.g. [here](https://github.com/saket/Press/blob/c5d9ae539cc1c65dd7cf45aff58962e1ee4c4acf/shared/src/commonMain/kotlin/me/saket/press/shared/editor/EditorPresenter.kt#L173
) presenter and/or repository will be frozen which might cause unexpected behaviour. Be ready to use `threadLoca

[2019-12-10 01:59] msasikanth opened #8 "Crash after v1.1 update, java.lang.NoSuchFieldException: No field mEdgeGlowTop in class Landroid/widget/ScrollView"
Here is the complete logcat.

Device: Pixel 3,
OS: Android 10 (December security patch)

[code]

[2019-12-10 02:30] saket commented on #8
Very nice. API 29 brings some official APIs for theming Views in Kotlin removing the need for reflection. Should be fixed by https://github.com/saket/Press/commit/a7b3c928f6c6c76b5b7c90f6b7bcd65bca7e9d95.

[2019-12-10 02:30] #8 closed, assigned to saket

[2019-12-10 02:33] saket commented on #8
Very nice. API 29 brings some official APIs for theming Views in Kotlin removing the need for reflection. Should be fixed by https://github.com/saket/Press/commit/a7b3c928f6c6c76b5b7c90f6b7bcd65bca7e9d95. Thanks for reporting!

[2019-12-10 02:34] saket commented on #4
Fixed along with #8 in https://github.com/saket/Press/commit/a7b3c928f6c6c76b5b7c90f6b7bcd65bca7e9d95. Thanks for reporting!

[2019-12-10 02:39] saket commented on #4
Whoops my bad. Your device is running on Android 9 so this issue isn't fixed yet.

[2019-12-10 02:52] saket opened #9 "Setup a blank iOS app"
Just getting a blank iOS app running would be a good first step towards bringing Press to iOS. Everything else can be wired later.

[2019-12-10 02:54] saket opened #10 "Add macOS platform"
The shared module currently only has Android and iOS platform targets. Although a macOS client app cannot happen until https://github.com/cashapp/sqldelight/pull/1393 is merged to SQLDelight, it'd be nice to atleast setup things in preparation of it.

[2019-12-10 03:01] saket commented on #7
I realize I completely forgot about freezing of objects 🤦‍♂What would be a good way to add tests that run in an environment where K/N threading is tested?

Is my understanding correct that I'm passing `noteRepository` inside a lambda that will run on another thread so it needs to be frozen?

[code]

I remember looking at the addition of `threadLocal()`, but I didn't understand what it does. Does i

[2019-12-10 03:48] Navneet7k commented on #4
hi, couldn't reply yesterday, is this fixed

[2019-12-10 05:43] Navneet7k commented on #4
wrapping it with a try catch gave the following result in huawei

![Screenshot_20191210_110525](https://user-images.githubusercontent.com/12411009/70498942-fffdce80-1b3d-11ea-9982-a84e11327c40.jpg)

[2019-12-10 05:59] drakeet opened #11 "Cursor is not visible in Code block"
| No text selected | Selected |
| -- | -- |
| ![image](https://user-images.githubusercontent.com/5214214/70499564-655cba00-1b54-11ea-9f91-322017e09264.png) | ![image](https://user-images.githubusercontent.com/5214214/70499601-760d3000-1b54-11ea-86d4-d798078352b4.png)|

Happened on Samsung S9+ (Android 9)

[2019-12-10 06:01] saket commented on #4
That's… strange. How are the handles getting colored if the code fails to run? 😮

Can you share a screenshot of the cursor? This is what I see on vanilla Android:

![image](https://user-images.githubusercontent.com/2387680/70500042-8edffc00-1ae8-11ea-87c5-1f894d069143.png)

[2019-12-10 06:02] drakeet commented on #11
Pixel 3 (Android 10) can also reproduce:

<img src="https://user-images.githubusercontent.com/5214214/70500081-9db0c800-1b55-11ea-99a3-68527076d115.png" width=240 />

[2019-12-10 06:08] saket commented on #11
Yea this seems to be an annoying behavior when [`BackgroundColorSpan`](https://developer.android.com/reference/android/text/style/BackgroundColorSpan) is used. It would be great to find a workaround.

[2019-12-10 06:15] Navneet7k commented on #4
maybe because the handler drawable is not getting set(which we wrapped in try) , but the drawable color is later set to accent color.

screenshot of cursor :
![Screenshot_20191210_114243](https://user-images.githubusercontent.com/12411009/70500844-7c92ac00-1b42-11ea-9ecc-86e161de0f6c.jpg)

[2019-12-10 06:35] saket commented on #4
That sounds very suspicious 😄

It looks like there might be a way to set the handles from Xml: https://stackoverflow.com/a/15133928/2511884. Press could intercept the `Resources#getDrawable()` calls and tint them. I'll take a stab at this sometime.

[2019-12-10 06:49] riteshhgupta commented on #9
Hey @saket 👋 You can assign it to me, I would be happy to kickstart the iOS platform :)

[2019-12-10 07:28] drakeet commented on #11
Try this way → [RoundedBgTextView.kt#L56](https://github.com/googlearchive/android-text/blob/996fdb65bbfbb786c3ca4e4e40b30509067201fc/RoundedBackground-Kotlin/lib/src/main/java/com/android/example/text/styling/roundedbg/RoundedBgTextView.kt#L56)

<img src="https://user-images.githubusercontent.com/5214214/70504779-706a1700-1b61-11ea-98f9-e41687a1a5a8.png" width=280/>
(I modified the color to Black

[2019-12-10 07:37] arkivanov commented on #7
Just put `threadLocal` before top most callback with capturing lambda and make sure you are building observables on main thread. Reaktive is very good here. Use `ensureNeverFrozen` on presenters and their dependencies and use `TestScheduler`, `TestObservable` and `Observable.test` extension function. They freeze things by default and you will catch all the bugs.

[2019-12-10 07:40] arkivanov commented on #7
Unless you really need to use dependencies on background thread. In this case they must be designed that way (without any mutable state).

[2019-12-10 08:00] eneim opened #12 "Support save/restore state for HomeView/EditorView"
I see that you have not handled that save/restore state. If you are fine adding this logic, I will have a PR coming :D.

[2019-12-10 09:14] arkivanov commented on #7
I will pull-request some fixes today

[2019-12-10 10:06] hackertronix opened #13 "Delete a note"
As of now, the only available option to delete a note is by deleting its content _(Or maybe there is another way but it's not promoted)._

Can we maybe add 🤔

-  Delete option within the editor
-  Select multiple notes in the main view and perform a batch delete/archive?

[2019-12-10 10:34] arkivanov opened #14 "Setup GitHub Actions to run tests for iOS"
Currently Ubuntu is used for testing so it does not run tests for iOS. Would be nice to switch to Mac.

[2019-12-10 10:34] arkivanov commented on #7
Unfortunately I'm unable to do that. I'm using Ubuntu and can't verify my PR. Will pull request after #14.

[2019-12-10 13:02] saket commented on #9
Done! 🤟

[2019-12-10 13:28] saket commented on #12
Whoops yes, `HomeView` needs to save the state of its page. Go ahead!

[2019-12-10 13:29] saket commented on #13
Yea, gotta add a delete/archive button somewhere. About batch operations: have you ever felt the need to delete multiple notes at once?

[2019-12-10 13:38] hackertronix commented on #13
That's a good question. Maybe not delete but I certainly archive notes a lot on Keep. I think swipe to delete/archive would be good.

Can I maybe take a shot at it? The delete option from the editor view I mean  _(Will need some time to wrap my head around the project but would definitely want to try)_

[2019-12-10 13:46] saket commented on #14
Closing this in favor of #5

[2019-12-10 13:46] #14 closed, assigned to nobody

[2019-12-10 13:47] saket commented on #3
@arkivanov would changing the machine to macOS be sufficient for now?

[2019-12-10 13:58] saket commented on #11
That View draws custom background on the canvas directly instead of using spans, but maybe that's a good thing? Code blocks with rounded corners would be nice. Wanna send a PR?

[2019-12-10 14:21] saket commented on #13
Of course, but let me think of UI controls on the note screen first?

In the meantime, it would be a good idea to add `archivedAt` column to the note table to prepare for this. Wanna help me do that?

[2019-12-10 14:42] saket commented on #7
The presenter and the repository don't hold any mutable class properties. In that case, will it be okay if they get frozen? Will local variables in functions need explicit freezing?

Got it. In case `EditorPresenter` starts holding mutable state and cannot be frozen, would [this line](https://github.com/saket/Press/blob/74ee1b6f3bd2356c4d1221b0495daca219196478/shared/src/commonMain/kotlin/me/saket

[2019-12-10 14:44] saket opened #16 "Add a canary test for iOS"
Something along the lines of the [Android canary test](https://github.com/saket/Press/blob/5db4d7666ebb9dc42d6d6545f9b50f4b1bf600ef/shared/src/test/kotlin/me/saket/press/shared/CanaryTest.kt#L9) so that #3 can be tested.

[2019-12-10 15:08] eneim commented on #12
@saket thanks. It may take a while. Below is my objective:

- [ ] For HomeView: restore editor state on config change: if it was in Editor mode, it will be in Editor mode after config change. Also, if it is restored to Editor mode after config change, `nodeList` will expand immediately for UX consistency.

- [ ] For EditorView (if HomeView is restored to Editor mode): it will restore the scroll po

[2019-12-10 15:24] saket commented on #12
For `HomeView`, this will be useful: https://github.com/saket/InboxRecyclerView/blob/70d0613c674d3f479072b6a84e23503af6241b69/inboxrecyclerview/src/main/java/me/saket/inboxrecyclerview/InboxRecyclerView.kt#L98. We'll just need to recreate an `EditorView` from `HomeView#onSaveInstanceState()`.

For `EditorView`, `ScrollView` should be capable of restoring the scroll position on its own. Try giving

[2019-12-10 15:24] arkivanov commented on #3
Absolutely 👍

[2019-12-10 17:09] hackertronix commented on #13
Yes 🤓

[2019-12-10 17:18] arkivanov commented on #7
It will be ok. At the moment it appears to be safe since all the captured objects are safe to freeze. But I would prefer to avoid freezes.

No, you have to put `threadLocal` right before [this](https://github.com/saket/Press/blob/74ee1b6f3bd2356c4d1221b0495daca219196478/shared/src/commonMain/kotlin/me/saket/press/shared/editor/EditorPresenter.kt#L171) line. Also you can remove [this](https://githu

[2019-12-10 20:07] #3 closed, assigned to nobody

[2019-12-10 20:07] #16 closed, assigned to nobody

[2019-12-11 00:36] eneim commented on #12
@saket Yeah the idea is to have ID for both HomeView and EditorView and then add the save/restore methods. The thing about EditorView is the same Scroll amount will scroll to different line of text in the editor I believe. Will double check for sure, but yeah we are on the same page about the concept I think.

[2019-12-11 01:22] eneim commented on #13
A *swipe to do something* would be a nice add regarding the UX is heavily gesture based.

[2019-12-11 01:51] drakeet commented on #11
Sorry, I don't have enough time to do that recently. And there is another workaround that just use a translucent color as the block span bg, but this is not perfect, if we pursue perfection, the method created by @florina-muntenescu can do it. Hope you or someone can solve it one day.

[2019-12-11 19:43] saket commented on #9
Fwiw the Kotlin slack team is a treasure of information. I imagine integrating Kotlin multiplatform with iOS won't be as smooth as Android. You might find help if you run into roadblocks: http://slack.kotlinlang.org/

[2019-12-12 05:01] ncooke3 commented on #9
hey there @saket ! I'd be interested in helping with iOS too! Been looking for a a way to start contributing to open source and this project looks awesome! how can I help?

[2019-12-12 05:44] saket commented on #9
Thank you @ncooke3! There is a directory for the iOS app but it's empty right now. If we could get it up running and just print the name of the saved notes, that would be dope.

The database table can be accessed using a `NoteQueries` file that will be generated when the project is built. You can get a reference to it as shown here: https://github.com/saket/press/blob/493645450944a2d94246807721afb

[2019-12-12 05:51] saket commented on #9
If you're feeling adventurous, printing the list of notes using [HomePresenter](https://github.com/saket/press/blob/master/shared/src/commonMain/kotlin/me/saket/press/shared/home/HomePresenter.kt) instead of directly accessing the database classes would a huuuge win. In case it's useful, you can see how the presenter is used in [HomeView here](https://github.com/saket/press/blob/844e8f5f156c7f60bf

[2019-12-12 08:25] saket commented on #9
Btw @ncooke3, please coordinate with @riteshhgupta?

[2019-12-12 20:29] raveeshbhalla opened #25 "Bulleting doesn't auto-add new item on pressing enter"
When I add a bullet, and press enter, I expect the next line to also be bulleted. It doesn't work, though at the moment.

[2019-12-12 22:44] saket commented on #25
Agree. The editor is very dumb right now, but the main priority is to get cross-platform clients working. I want to see if I can somehow put rich formatting logic inside shared code. It's maths anyway.

[2019-12-12 22:48] saket commented on #11
No problem. Turns out there's a far simpler solution: using a translucent color for the code background instead of an opaque one. I'll fix this soon. If someone's interested, feel free to send a PR.

[2019-12-13 06:20] riteshhgupta commented on #9
Sorry folks @saket @ncooke3, pretty hectic week so couldn't start anything on it yet.
@ncooke3 If you have ideas on how to initiate it then please go with it, I'll join you early next week.

[2019-12-14 12:52] arkivanov opened #27 "Android app crash java.lang.ClassCastException: android.content.res.Resources cannot be cast to me.saket.resourceinterceptor.InterceptibleResources"
Android emulator API 25
[code]

[2019-12-14 19:14] arkivanov commented on #7
Please read the last comment in #19

[2019-12-14 19:14] #7 closed, assigned to nobody

[2019-12-17 21:24] arkivanov commented on #9
A sample iOS app can be found [here](https://github.com/badoo/Reaktive/tree/master/sample-ios-app)

[2019-12-23 08:55] saket commented on #25
Turns out, the [maths](https://github.com/saket/press/blob/2f9f81fac8386aa8b8459a1d4b1aa919d851a32d/wysiwyg/src/commonTest/kotlin/me/saket/wysiwyg/formatting/AutoFormatOnEnterPressTest.kt#L126) isn't very hard. Here's a work-in-progress gif:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/2387680/71347355-34a75800-2538-11ea-80cb-5bea15947172.gif)

[2019-12-24 04:30] hackertronix commented on #1
Hey, @saket I created a PR for this :)

[2019-12-25 17:35] saket opened #30 "Explore C interop with Kotlin/Native for sharing a common markdown parser"
Press currently delegates parsing of markdown to platforms using `expect/actual`, but managing the expected class signature of parsed nodes is a [pain right now](https://github.com/saket/press/blob/2f9f81fac8386aa8b8459a1d4b1aa919d851a32d/wysiwyg/src/commonMain/kotlin/me/saket/wysiwyg/parser/node/Node.kt#L20). The K/N community is new so there isn't any markdown parser written in kotlin, but there

[2019-12-28 08:13] saket commented on #12
Closed via #31

[2019-12-28 08:13] #12 closed, assigned to nobody

[2019-12-28 08:20] saket commented on #25
~~This is done. Will release a new update soon.~~ Released in [v1.3](https://github.com/saket/press/releases/tag/v1.3).

[2019-12-28 08:20] #25 closed, assigned to saket

[2019-12-28 08:34] saket commented on #11
Done: https://github.com/saket/press/commit/12cc95592250e73b674c658d876d9cec00e572f6

[2019-12-28 08:34] #11 closed, assigned to nobody

[2019-12-28 16:07] ChristosBouronikos opened #32 "Text selection handles are broken."
The handles that appear when selecting text to allow for more precision, are enormous.

![Proof](https://i.imgur.com/eKUQy9B.jpg)

[2019-12-28 16:55] saket commented on #32
Can you post your device and OS details?

[2019-12-28 17:51] ChristosBouronikos commented on #32
![Here you go ](https://i.imgur.com/RVytomf.jpg)

Is this the first time you encounter this bug?

[2019-12-28 19:03] saket commented on #32
Yep. Chinese OEMs are notoriously bad at messing up with system stuff 🤦‍♂. All I'm doing is [applying a ColorFilter](https://github.com/saket/press/blob/f46e6c9a16ae2ad2d53cbffe571049be002237be/androidApp/src/main/java/press/theme/ThemedWidgets.kt#L61) on the selection handle drawables. Not sure what's the issue here. I don't have a Redmi so it's going to be difficult for me to debug this. Wanna h

[2019-12-28 19:09] ChristosBouronikos commented on #32
How could I do that? I'm not quite sure.
It also seemed weird to me because most apps have the android default handles, despite them being a bit off to their theme and overall color scheme.

[2019-12-28 19:25] saket commented on #32
Because other apps don't change them at runtime. I want Press to have dynamic themes that can be changed without restarting the app.

I'd start by changing the `PorterDuff.Mode` value passed to `setColorFilter` here to make sure that's not the cause: https://github.com/saket/press/blob/f46e6c9a16ae2ad2d53cbffe571049be002237be/androidApp/src/main/java/press/theme/ThemedWidgets.kt#L61

[2019-12-28 19:34] ChristosBouronikos commented on #32
Oh man I know 0 Kotlin. I'm so sorry.
I'm glad I found the bug and that you seem to have a method in mind to attack this.

[2019-12-29 13:15] SubhrajyotiSen commented on #32
I have a test device with MiUI. I can try reproducing the issue and changing the `PorterDuff.Mode` when I  am back at work

[2019-12-29 19:22] saket commented on #32
@SubhrajyotiSen that would be dope. Thank you!

[2019-12-30 07:00] SubhrajyotiSen commented on #32
So someone took the device home and is now on vacation. So it might be a few days before I can help with this

[2020-01-01 00:32] saket commented on #32
sads.gif

I'll also try finding someone with a Xiaomi device when I'm visiting India next month.

[2020-01-07 22:20] saket opened #34 "Setup screenshot testing of markdown rendering using Paparazzi"
Testing of markdown rendering has mostly been a manual process so far, and is error prone. It'd be nice to write a screenshot unit test using that complains if any unexpected changes creep in. For Android, [Paparazzi](https://github.com/cashapp/paparazzi) can be used.

[2020-02-09 01:35] KerstinMaur commented on #10
Do you plan to add Linux too? 😊

[2020-02-09 13:49] saket commented on #10
I wouldn't be against it, but I realistically don't see it happening anytime soon given my time constraints for a side project.

[2020-04-07 02:28] boyangwang commented on #32
Hi, is the issue resolved yet? If not I can test it on a Redmi device today and play with `PorterDuff.Mode` to see if it's the culprit

[2020-04-07 02:34] saket commented on #32
Please go ahead! I wasn't able to find enough time for this.

[2020-04-10 02:41] saket commented on #32
@boyangwang was wondering if were able to find anything?

[2020-04-10 02:47] hackertronix commented on #13
Hey @saket , are the designs ready by any chance?

[2020-04-10 02:51] saket commented on #13
Hey, nope. I've decided to avoid nerd sniping myself into completing the Android app. I'm focusing all my time into learning macOS development so that I can add a second platform to Press. Deleting a note is unintuitive, but is at-least possible.

[2020-04-10 02:54] hackertronix commented on #13
Sounds fair. If you do however decide on adding that let me know 😉

[2020-04-10 04:09] #1 closed, assigned to saket

[2020-04-18 23:05] #10 closed, assigned to saket

[2020-04-26 23:20] saket commented on #30
Assigning this to @hackertronix who's working on adding bindings for [cmark](https://github.com/commonmark/cmark).

@hackertronix I've added some basic tests on `saket/apr26/markdown-parser-test` to help you test your bindings.

Update: Huh, I can't assign people randomly to an issue. That probably makes sense. @hackertronix wanna assign this yourself?

[2020-04-26 23:21] saket commented on #30
Huh, I can't assign people randomly to an issue. That probably makes sense. @hackertronix wanna assign this yourself?

[2020-04-26 23:26] saket commented on #30
Actually, let me just disable those tests and merge them to master.

[2020-04-27 02:40] drakeet commented on #32
MIUI modified the native cursor-related API, so it doesn't support to modify the cursor or selection handles. It is currently recommended to skip MIUI for your theme logic. I have helped to report this problem to the MIUI team, and it should be fixed in the future.

[2020-04-27 03:16] hackertronix commented on #30
I am unable to assign it to myself :(

[2020-04-27 03:31] saket commented on #30
Looks like someone has to comment before they can be assigned. Done!

[2020-05-03 16:05] saket opened #42 "Rename mac app to Press"
The app was incorrectly named as `mac`.

[2020-05-03 16:13] saket opened #43 "Add app icon to mac app"
![generic-app-icon-mac](https://user-images.githubusercontent.com/2387680/80919282-231c5b00-8d37-11ea-82bf-05fcc3acf7a0.png)

The mac app is currently using the default generic icon and needs to be replaced. If someone's interested in picking this up, they can find the [assets here](https://github.com/saket/press/tree/master/resources).

I found an official guideline for generating macOS icons, bu

[2020-05-09 23:16] #42 closed, assigned to nobody

[2020-05-09 23:19] #43 closed, assigned to nobody

[2020-05-24 15:15] deobald opened #49 "ADRs are more helpful when they are ADRs"
The standard directory structure of `/docs/arch/adr-001-xyz.md` isn't really necessary, but it's cleaner and the integer helps enforce their immutable intention.

I'd consider the standard `context` / `decision` / `status` / `consequences` structure to be non-optional if you want your ADRs to remain meaningful months or years from now.

[2020-05-24 15:25] deobald opened #50 "Add Bidirectional Links"
Structuring notes as a graph has always been a favourite system of folks who choose to keep their notes in a wiki (or even just straight-up vanilla HTML). However, it seems that [Roam Research](https://roamresearch.com/) has really convinced people that a _directed_ graph (aka "one-way links") is a bad idea.

I'm inclined to agree. I think a lot of us wind up using multiple tools (wikis, mind maps

[2020-05-27 22:15] saket commented on #34
Blocked on https://github.com/cashapp/paparazzi/issues/127

[2020-05-27 22:18] saket commented on #49
I initially wanted to structure them as ADRs but that felt like a lot of effort. I just wanted to offer a single document showing the _current_ state of doing things in the project. I don't really care much about documenting decisions that were made over time to reach the current state, especially because I have limited time to spend on this project and would prefer moving fast and breaking things

[2020-05-27 22:20] saket commented on #30
Turns out cinterop can only generate bindings for kotlin/native. We'll still have to use JNI for Android which sucks. I [filed a feature request](https://youtrack.jetbrains.com/issue/KT-39144) to support generation of bindings for all platforms but don't think that's going to happen anytime soon.

[2020-05-27 22:20] #30 closed, assigned to hackertronix

[2020-05-27 22:23] saket opened #51 "Multiplatform markdown parser"
[intellij-markdown](https://github.com/valich/intellij-markdown) has an experimental branch with support for kotlin multiplatform. It's used internally by JetBrains and by Dokka for generating markdown so it should be pretty stable. It's probably also the only option right now.

I tried contributing to the project by adding support for native, but quickly ran into issues [mentioned here](https://g

[2020-05-27 22:23] saket commented on #30
Superseded by https://github.com/saket/press/issues/51

[2020-05-27 22:40] saket opened #52 "Sync notes through git"
I've spent a lot of time thinking about this and I think the best way of offering syncing is by not maintaining my own syncing backend. Syncing is a hard problem. The plan is to piggyback on git for syncing notes to a remote git repository. It'll have some great benefits by letting users,
- own their notes
- use a different app on platforms unsupported by Press
- and even move on to a different ma

[2020-05-28 06:22] deobald commented on #49
Makes sense. I went back and looked at your docs and realized that the only mention of "Architecture Decision Records" was actually just the commit message. ;) Quick, close this issue before someone sees.

[2020-05-28 16:29] saket commented on #49
![image](https://user-images.githubusercontent.com/2387680/83167968-ca927080-a0de-11ea-9397-4403c195b789.jpg)

[2020-05-28 16:29] #49 closed, assigned to nobody

[2020-06-12 08:32] ubarua123 opened #53 "Detach Editor Code as Library?"
I think the work you're doing is fantastic. Keeping the editor code as a library would be perfect so that everyone can use it the way they want.
I have scoured the internet and I couldn't find a decent Markdown editor until I came across your app. The only issue is, its a full app 😁  .
Do consider it.

[2020-06-12 16:36] saket commented on #53
That's the plan! You can try using [wysiwyg](http://github.com/saket/wysiwyg) in the meantime but it's quite old and the improvements made as part of Press haven't been merged yet.

[2020-06-13 05:46] ubarua123 commented on #53
I'll be looking forward to your library then. 🙂

[2020-06-13 05:46] #53 closed, assigned to nobody

[2020-06-28 22:17] blackqueentech commented on #50
@deobald What would this look like from a UI perspective? Would it be that when you link to a note , there is a linked reference to the source at that note?

For example, if you're on note A and there is a link to note B, when you click it to go to note B, on note B there is a link to note A at the top? I think a better description of what this could look like will help with designing a solution.

[2020-07-03 05:29] deobald commented on #50
Hi @blackqueentech

Yes, that's roughly how this usually works. There are variations, but a simple collection of backlinks (as a list) is usually how it's done.

Generally, backlinks sit in a backlinks / references section at the _bottom_ of any given page/note. If they're placed at the top, a page which is "popular" in the graph will fill up with a long list of backlinks before its actual content

[2020-07-07 05:00] blackqueentech commented on #50
An example of an implementation is very helpful in understanding this. Thanks for clarifying @deobald.

[2020-07-27 18:47] TheDanileron commented on #4
Look at Danil. B and Jared Rummler answers here: https://stackoverflow.com/questions/15133926/how-to-change-color-appearance-of-edittext-select-handle-anchor/63121585#63121585
It shows how to do it from the code

[2020-07-27 19:04] saket commented on #4
That looks exactly what I'm doing currently: https://github.com/saket/press/blob/master/androidApp/src/main/java/press/theme/TextViewCompat.kt

[2020-07-29 21:37] saket commented on #52
I think I'm nearly done for a first cut. Just gotta figure out how to correctly resolve merge conflicts with file deletions because [Jgit](https://www.eclipse.org/jgit/) has incorrect implementation of merge strategies.

[2020-08-28 09:46] okmanideep commented on #52
@saket Curious if you have considered syncing via Dropbox / Drive / OneDrive etc.

[2020-08-28 18:23] saket opened #54 "Replace JGit with git24j"
JGit has a lot of bugs and its behavior often doesn't match with native git. It'd be nice to switch a library that uses native git wrapped with Java bindings so that the behavior/bugs are consistent across all platforms. [git24j](https://github.com/git24j/git24j) looks like the closest solution right now.

I tried my hands at adding git24j but I'm not very good with building native libraries: http

[2020-08-28 18:43] saket commented on #52
@okmanideep I made this decision a few months ago so I'm a bit hazy on the details. Let me try recalling them:

- I realized that adding support for just one service won't be enough. People have different preferences for Dropbox, Drive, OneDrive, etc. I'd have to add support for atleast the two major ones -- Dropbox and Drive. This felt like a lot more work.

- I felt overwhelmed and lost in the A

[2020-10-24 08:00] msasikanth opened #57 "Sync failed but created multiple branches on the repo"
I have created an empty repository without any `master` branch and then tried to sync notes. The app shows sync failed with an error but I see multiple branches being created on the repo. Is it necessary to create a repository with default `master` branch?

Here is the error log:
[code]

[2020-10-24 12:02] arkivanov commented on #9
Looks like there is already a blank iOS app in the [iosApp](https://github.com/saket/press/tree/trunk/iosApp) folder?

[2020-10-24 16:54] ChanSek commented on #57
I got the same problem:

<img width="1005" alt="Screenshot 2020-10-24 at 10 19 15 PM" src="https://user-images.githubusercontent.com/5253878/97087343-f6dafa80-1646-11eb-886f-7f560942a425.png">

The exception, I got is here:

    Syncing notes with 'a776ba61' on Sat, 24 Oct 2020 10:50:04 UTC
    Resetting to sha1: db2bd3c (Backup notes on 'a776ba61').
    Syncing for the first time. Backing up note

[2020-10-24 16:57] ChanSek commented on #57
I think, it can be reproducible if we try to sync with any repo if both the repo of GitHub and local notes in Press app are empty.

[2020-10-24 16:58] saket commented on #57
Was there any other branch present?

No, Press will use any branch that's set as default on your repository.

FWIW someone else ran into the same issue but was able to workaround it by resetting sync.

[2020-10-24 17:53] saket commented on #57
I realize I never tested sync with branch-less repository. I always had a branch present. Will fix this.

[2020-10-24 18:56] saket commented on #57
@ChanSek is your device's bluetooth name `a776ba61`?

[2020-10-25 00:27] saket commented on #9
Yeah… I don't know if it works anymore. I think I'm going to close this issue for now. Getting a basic macOS app up and running is my first priority after Android.

[2020-10-25 00:27] #9 closed, assigned to riteshhgupta

[2020-10-25 01:36] msasikanth commented on #57
No, I have created an empty private repository that's all. It would also be really helpful to include this in description of the sync page. Initially I was assuming Press will create the repo and handle this automatically.

[2020-10-25 01:36] saket commented on #57
Gotcha. Yeah creating a new repo within Press is something I gotta do.

[2020-10-25 04:40] ChanSek opened #58 "Scary permissions being asked for GitHub sync"
While syncing with GitHub, it simply asks for all my private and public repositories.

Here is a screenshot of how it looks:

![20201025_092202.jpg](https://user-images.githubusercontent.com/5253878/97098500-8f9f6380-16a3-11eb-80d0-ffb8c098fc78.jpg)

Though it might not be misused by the app, it would always be a great idea to have a custom message displayed at the app side before even going forwa

[2020-10-25 04:53] ChanSek commented on #58
Well, there could be a different approach taken to solve this problem.

Assuming your target user base are tech friendly, how about just having a simple EditText in the app asking for the repository URL and only sync that?

[2020-10-25 05:22] saket commented on #58
Agree that that is quite scary. I'll add a rationale dialog to try explaining the permission before opening the auth page.

The URL isn't sufficient, a private SSH key is required as well for granting Press access to your repository. Expecting users to generate an SSH key-pair on their computer and paste their private key in the app is a huge entry barrier. I could consider offering it as an optio

[2020-10-25 05:48] #57 closed, assigned to nobody

[2020-10-25 06:07] saket commented on #52
An early preview was released with [v1.5.1](https://github.com/saket/press/releases/tag/v1.5.1). Please try it out and send feedback!

[2020-10-25 06:07] #52 closed, assigned to saket

[2020-10-25 06:09] saket commented on #32
@ChristosBouronikos can you check if the latest release change anything for you?

[2020-10-29 04:23] saket opened #61 "Multiplatform git client"
Having a git client that works on kotlin/native is necessary to implement sync on native platforms. I wasn't able to find any existing library, so Press will have to write [libgit2](https://github.com/libgit2/libgit2) of its own using cinterop. Kotlin has an official sample that can be used as a reference: https://github.com/JetBrains/kotlin-native/tree/master/samples/gitchurn

[2020-10-29 04:25] saket commented on #51
Update: intellij-markdown is ready to accept contributions for native platforms: https://github.com/valich/intellij-markdown/issues/36#issuecomment-716235066

[2020-10-30 19:05] saket commented on #27
Took me some time, but this should be fixed in the latest version.

[2020-10-30 19:05] #27 closed, assigned to nobody

[2020-10-31 04:56] JakeWharton opened #62 "Scrolling troubles"
I'm having a lot of trouble scrolling the example files. The inbox (RIP) recycler view action takes precedence somewhere around 50% of the time.

https://photos.app.goo.gl/v5DzRWvBJthfWoKi9

(I swear in the video scrolling was working about twice as much as it otherwise was.)

[2020-10-31 06:56] saket commented on #62
Damn, issues that I can't reproduce on my phone are my least favorite ones. Are you able to consistently reproduce this (across app restarts)?

[2020-10-31 15:44] JakeWharton commented on #62
Yep. Android 11, Pixel 5. Every time, unfortunately.

[2020-11-01 02:50] saket commented on #62
Can you please [try out this APK](https://drive.google.com/file/d/1Nz_bPrphPTCMIx3VOjmaAPu4jVA0Haxw/view?usp=sharing)? It prints a toast with debug info every time a scroll begins. A screenshot will hopefully give me some hints about the problem.

[2020-11-02 18:45] JakeWharton commented on #62
Sure, random person on the internet, I'll install your APK!

https://photos.app.goo.gl/AXtTfKVdPoR2Exut8

[2020-11-02 18:46] JakeWharton commented on #62
Show touches was off, but it was always done in the center-ish/middle-ish of the screen.

[2020-11-02 19:28] saket commented on #62
Very interesting. `InboxRecyclerView` is incorrectly calculating the direction of gestures. I see `canScrollVertically(1)` on my phone vs `-1` on yours when scrolling to the bottom of a note.

https://github.com/saket/press/blob/27526c7b6ce0073cfbdfc66f1e530bc96193992b/androidApp/src/main/java/press/widgets/InterceptPullToCollapseOnView.kt#L15

I'm simply comparing `MotionEvent.rawY` values ([sour

[2020-11-02 20:55] JakeWharton commented on #13
Note that deleting all the content does not delete the underlying file. Instead, you get a series of `untitled_note` files.

![Screen Shot 2020-11-02 at 3 53 57 PM](https://user-images.githubusercontent.com/66577/97918229-c882ac80-1d23-11eb-9134-30ca8f3e586d.png)

[2020-11-02 21:01] saket commented on #13
Uhhh actually yeah that is true. Adding an archive/delete button is on my to-do list but that'll in-turn require support for folders first.

[2020-11-02 22:18] saket commented on #13
I should also point out that Press will delete notes for real if they're deleted from your git repository. The functionality is just not exposed from the UI.

[2020-11-03 01:56] saket commented on #62
I wonder if I should be using `MotionEvent#y` instead of raw coordinates. Will try out.

[2020-11-08 21:32] jamiesanson commented on #61
Hey there, I'm interested in contributing and would love to help with this issue. I see you've already had a go at integrating `libgit2` under the saket/oct30/native-git branch. How far did you get with that? It looks like a quick spike. I'm happy to build upon that and can have a go at getting rid of the remaining `TODO()`s, but wary that you might have some learnings from that spike which haven'

[2020-11-09 01:20] saket commented on #61
Thanks for offering help @jamiesanson! I was trying to set it up but the announcement of Compose for building desktop apps have changed everything. Being able to use the same source-set for not only syncing files, but also parsing markdown on both Android and desktop sounds like a great thing and possibly the fastest way to get the desktop app up and running.

Let me close this issue and create an

[2020-11-09 01:20] #61 closed, assigned to nobody

[2020-11-09 01:25] saket opened #63 "Create a blank desktop app using Compose"
The current (work-in-progress) macOS app is built using SwiftUI, but setting up different source-sets for parsing markdown and syncing through git on the JVM and kotlin/native is proving to be a bit painful. Let's use Compose for building the desktop app instead: https://jetbrains.com/lp/compose.

My plan is to ramp up the Android app a bit by adding support for folders and archiving notes, and th

[2020-11-09 01:26] saket commented on #51
Closing in favor of #63.

[2020-11-09 01:26] #51 closed, assigned to nobody

[2020-11-09 20:49] ChristosBouronikos commented on #32
@saket  I'm on a new OnePlus phone, so I had to find time to dig into my old Xiaomi phone.

Got the latest build.

Handles seem to be fine now. Just as I would expect.

Thanks for the good work!

[2020-11-09 21:33] saket commented on #32
Awesome, thanks for checking!

[2020-11-09 21:33] #32 closed, assigned to nobody

[2021-01-03 11:30] selfire1 opened #64 "Option to use system font"
Hi, love the app and it fills a big vacancy. Even though I like the custom font, I'd love the option to use Android's system font for a more cohesive experience.

Thanks for all you do!

[2021-01-04 18:42] saket commented on #64
That's a fair point. I will include it as a user preference sometime in the future.

[2021-01-05 11:46] selfire1 commented on #64
Thanks a lot!

[2021-01-10 09:12] max-hk opened #66 "markdown_guide.md and welcome_to_press.md are being recreated when syncing with fresh installation"
Hi. I have a repo which have been synced by Press. When I sync it with a fresh Press installation, Press recreated `markdown_guide.md` and `welcome_to_press.md` in the repo which was deleted by me manually.

I think Press should keep them deleted instead of recreating them.

[2021-01-16 10:32] SimonMarquis commented on #62
Hi @saket, I'm experiencing the same issue here on my Pixel 4 XL.
I think it's related to how you handle the `deltaUpwardSwipe` and it's even more likely to appear when you have a higher touch refresh rate (that might explain why you don't reproduce it).

On my device, swiping slowly will reproduce the issue, while swiping fast won't.

Here is what happen in `PullToCollapseListener` when I swipe u

[2021-01-17 05:17] saket commented on #62
Interesting. I don't think it's related to the refresh rate because I've been using a 120hz display to test Press. I ended up deciding to add support for nested scrolling to `InboxRecyclerView` so that I don't have to deal with coordinates on my own. Will have it ready soon. Thanks anyway @SimonMarquis!

[2021-01-17 08:25] saket commented on #13
Closed by #67. Will release as part of v1.8.

[2021-01-17 08:25] #13 closed, assigned to nobody

[2021-01-17 08:26] saket commented on #4
Can someone check if they're still running into this crash with Press v1.7.0?

[2021-01-18 00:11] saket commented on #62
Should be fixed by a21985b08d959a7bc08bb645295fdfd3bbdf20f1. Nested scrolling FTW!

[2021-01-18 00:11] #62 closed, assigned to nobody

[2021-01-18 00:27] saket commented on #58
I should also add that this is the smallest set of permissions a GitHub app can request for adding a deploy key to a single git repository. I wish there was a narrower permission.

FWIW Press deletes your auth token right after you choose a repository: [GitHostIntegrationPresenterTest.kt#L203:L216](https://github.com/saket/press/blob/a55fcc36dc3a8dc1ce33a0f5ce15a41063256849/shared/src/commonTest/k

[2021-01-18 02:12] nevack opened #68 "macOS version is not buildable"
Is macOS version still buildable?
I have encountered a lot of build errors with ReaktiveInterop, ObservableNavigator etc.
Even after bumping some libs (kotlin-coroutines, kotlinx.serialization) and fixing all Swift errors, app is crashing on start with

`ERROR - sqlite3_close(0x7f88d9e3bba0) failed: 5`

[2021-01-18 05:19] saket commented on #68
Yeah sorry about that. I was actively building it, but trying to get libgit2 up and running for syncing of notes was proving to be difficult. With the introduction of [Compose for Desktop UI](https://www.jetbrains.com/lp/compose/) I'm no longer sure if I wanna continue down this path. I'm leaning towards trying it out so that I can reuse JVM libraries for git, markdown, etc. Tracking it here: http

[2021-01-19 17:42] ChanSek opened #69 "Ordered lists doesn't auto complete"
If I am at an item of an ordered list, then pressing enter should show the next number of the list by default. But this happens only if your previous item ends wjth a period (.) symbol.

You can reproduce it by doing two below tests.

1. Type something <press enter>

vs

1. Type something. <press enter>

[2021-01-22 01:42] chea08 opened #70 "Add more language"
Please add more language support so that more people can use it easily。eg.chinese:speak_no_evil:

[2021-01-22 20:51] saket commented on #70
For sure. I'll ask people to contribute translations once the app is a bit more stable.

[2021-01-24 05:56] saket commented on #69
Interesting. It works fine for me on a Pixel 3 and a Galaxy Fold 2:

https://user-images.githubusercontent.com/2387680/105622235-b887df80-5ddd-11eb-8395-7a12c32c5724.mp4

The tests for the text formatter ([AutoFormatOnEnterPressTest](https://github.com/saket/press/blob/11319204024186226182d253af0bc48cdd387633/wysiwyg/src/commonTest/kotlin/me/saket/wysiwyg/formatting/AutoFormatOnEnterPressTest.kt#L

[2021-01-24 06:39] ChanSek commented on #69
Looks like, there is some corner case which I am not able to find it right now. Will update if I am able to reproduce it.

For now, you can close the issue.

[2021-01-25 19:20] manueldidonna commented on #69
If you add a blank space before pressing enter it should works. I think it's related to the keyboard you used. I get this weird behavior while using the beta version of Gboard, the autocompletition works as expected with swiftkey and stable Gboard

[2021-01-26 07:57] saket commented on #69
That is very useful information, thank you! I was able to reproduce this with gboard beta. Gotta rethink how Press detects enter key presses.

[2021-03-23 06:31] saket commented on #69
Fixed by https://github.com/saket/press/commit/680850144cae864076b29a977567e34bb24819bd. Will release this as part of v1.8. Thanks @manueldidonna and @ChanSek!

[2021-03-23 06:31] #69 closed, assigned to nobody

[2021-04-02 15:26] ZianeA opened #72 "Project won't compile "Unresolved reference: PageCollapseEligibilityHapticFeedback""
e: ...\press\androidApp\src\main\java\press\navigation\FormFactor.kt: (8, 40): Unresolved reference: PageCollapseEligibilityHapticFeedback
e: ...\press\androidApp\src\main\java\press\navigation\FormFactor.kt: (62, 25): Unresolved reference: PageCollapseEligibilityHapticFeedback

[2021-04-02 16:07] #72 closed, assigned to nobody

[2021-04-02 19:12] saket commented on #69
Released in v1.8: https://github.com/saket/press/releases/tag/v1.8

[2021-04-02 19:14] saket commented on #62
Released in v1.8: https://github.com/saket/press/releases/tag/v1.8. @JakeWharton @SimonMarquis I didn't have a Pixel 4/5 to test, but I'm hoping my fix will work. Please let me know if it still doesn't?

[2021-04-02 19:55] SimonMarquis commented on #62
This version works flawlessly on my pixel 4 XL! 🙌

[2021-04-22 05:59] ubarua123 commented on #53
Any update on this? When can I integrate the updated version of the editor in my app?

[2021-04-22 15:41] saket commented on #53
Nothing yet. I want to migrate wysiwyg to https://github.com/JetBrains/markdown so that it can become a multiplatform library.

[2021-12-20 22:21] sebastian-ruiz opened #74 "Issue with ktlint"
I installed a clean version of IntelliJ IDEA 2021.3, then opened and ran a project and I get:
[code]
It is trying to fetch this file which gives me a 502 bad gateway error:
[code]
It is down for everyone it seems:
<img width="1096" alt="Screenshot 2021-12-20 at 22 18 57" src="https://user-images.githubusercontent.com/2012398/146840377-b5148797-09b9-43ca-be53-4c80e500ee0e.png">

Is there an alterna

[2022-01-08 12:52] daudrain opened #75 "Syncing fails"
The app is not able to sync anymore my modifications for many days.
It worked like a charm for months.

Here are the logs the app provides:
![Screenshot_20220108-134247.png](https://user-images.githubusercontent.com/3604504/148644805-2c3ad0ea-a468-4dd7-87a2-18d4d987a6b3.png)

The JGitInternalException message is : `Checkout returned unexpected result LOCK_FAILURE`

[2022-01-10 21:44] saket commented on #75
JGit feels like such a dumpster fire. Without access to a git repository that's resulting in this failure, it's unfortunately difficult for me to debug what's going wrong. Any chances you can help me out by cloning press locally and setting up breakpoints inside `JGit` to see what's wrong?

[2022-02-19 22:09] sbrl opened #76 "Can I use Press as a component when writing an app?"
Is it possible to include Press as a view or something when I'm building an app? Or perhaps reference it via an Intent?

I'm building an Android client for my wiki engine [Pepperminty Wiki](https://github.com/sbrl/Pepperminty-Wiki) (android client: https://github.com/sbrl/Pepperminty-Wiki-Client-Android), and I've got to the point of implementing a markdown editor to edit pages myself, but I can't

[2022-03-20 22:27] saket commented on #76
This is something I have been wanting to do for a while, but haven't gotten time yet. I'd suggest either extracting out Press's code to your project or forking https://github.com/saket/wysiwyg.

[2022-05-01 16:48] sbrl commented on #76
Oh cool! I'll take a look that that dependency there. Thanks!